.add{
    background-color: crimson;
    border: none;
    padding: 7px 30px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    margin: 8px 0;
    
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input{
width: 35px;
border: 1px solid gray;
border-radius: 3px;
margin: 0 8px;
padding: 2px 4px;
}
.lable{
    font-weight: bold;
    font-size: 15px;
}



.clicked{
    animation: bumoi 300ms ease-out;
    background-color: #fff;
}

  @keyframes clicked{
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    70% {
        transform: scale(1.10);
      }
    100%{
      transform: scale(1);
    }
  }

.warning  {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 18%;
    color: #dc143c;
    font-size: 12px;

  }